<% layout("/layouts/boilerplate")%>

    <h3>Edit Listing</h3>
    <br><br>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <!-- start -->
        <div class="mb-3">
            <label for="title" class="form-label" >Title</label>
            <input type="text" name="listing[title]"  class="form-control" value="<%=listing.title%>" required >
            
            <div class="invalid-feedback">Enter Title</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">Enter Description</div>
        </div>
        <div class="mb-3">
            Original Image: <br>
            <img src="<%= originalImageUrl %>" class="img-thumbnail" style="width:250px;"
>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image </label>
            <input name="listing[image]"
            class="form-control"
            type="file">

        </div>
        
        <div class="row">

        
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" class="form-control" type="number" value="<%=listing.price%>" required>
            <div class="invalid-feedback">Enter Price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" class="form-control" type="text" value="<%=listing.country%>" required>
            <div class="invalid-feedback">Enter Country</div>
        </div>
        
        </div>
        <div class="mb-3 ">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" class="form-control" type="text" value="<%=listing.location%>" required>
            <div class="invalid-feedback">Enter Location</div>
        </div>
        
        
        
        
        <br>
        
        <button class="btn btn-dark add-btn">Edit</button>
        
        <!-- end -->

        
        <!-- <input type="text" name="listing[title]" value="<%=listing.title%>" >
        <br><br>
        <textarea name="listing[description]" ><%=listing.description%></textarea>
        <br><br>
        <input name="listing[image]" value="<%=listing.image.url%>" type="text">
        <br><br>
        <input name="listing[price]" value="<%=listing.price%>" type="number">
        <br><br>
        <input name="listing[location]" value="<%=listing.location%>" type="text">
        <br><br>
        <input name="listing[country]" value="<%=listing.country%>" type="text">
        <br><br>
        <button>Edit</button> -->
    </form>
    <br><br>
